page-home {
}
ion-card-header{
  margin-bottom: 0;
  padding-bottom: 0px;
}
ion-card-content{
  text-align: justify;
  height: 3em;
  line-height: 1.5em;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
